.container {
  display: flex;
  justify-content: space-between;
}
.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
@media (width<870px) {
  .container {
    flex-direction: column-reverse;
  }
}
